---
apiVersion: v1
kind: Secret
metadata:
  name: acme-zerossl-account
  namespace: cert-manager
data:
  secret: {{ zerossl_account.key | ansible.builtin.b64encode }}
{% if 'route53' in acme.solvers %}
---
apiVersion: v1
kind: Secret
metadata:
  name: route53-creds
  namespace: cert-manager
data:
  secret-access-key: "{{ lookup('ansible.builtin.env', 'AWS_SECRET_ACCESS_KEY') | b64encode }}"
{% endif %}
{% if 'cloudflare' in acme.solvers %}
---
apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
type: Opaque
stringData:
  api-token: "{{ acme.cf_api_token }}"
{% endif %}